<!-- <mat-form-field
  ><input
    matInput
    placeholder="Jaka stala gwiazdek?"
    [(ngModel)]="starCount"
  /><mat-icon matSuffix (click)="toggleForm()">done</mat-icon></mat-form-field
> -->

<ng-container *ngIf="showForm">
  <form [formGroup]="rateForm" class="form" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Description:</mat-label>
      <input matInput name="description" formControlName="description" />
    </mat-form-field>
    <div>
      <input
        placeholder="Ilość gwiazdek"
        type="number"
        formControlName="stars"
      />
    </div>
    <!-- Do przeanalizowania -->

    <app-stars-input
      formControlName="stars"
      [starc]="rateForm.value.stars"
    ></app-stars-input>

    <!-- <app-stars-input
      [starc]="starCount"
      formControlName="stars"
    ></app-stars-input> -->

    <button
      mat-stroked-button
      color="primary"
      class="button-success"
      type="submit"
      [disabled]="!rateForm.touched"
    >
      Submit
    </button>
  </form>
</ng-container>
